@font-face {
    font-family: "FiraSansRegular";
    src: url("../fonts/FiraSansRegular/FiraSansRegular.eot");
    src: url("../fonts/FiraSansRegular/FiraSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansRegular/FiraSansRegular.woff") format("woff"),
    url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansBold";
    src: url("../fonts/FiraSansBold/FiraSansBold.eot");
    src: url("../fonts/FiraSansBold/FiraSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansBold/FiraSansBold.woff") format("woff"),
    url("../fonts/FiraSansBold/FiraSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansItalic";
    src: url("../fonts/FiraSansItalic/FiraSansItalic.eot");
    src: url("../fonts/FiraSansItalic/FiraSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansItalic/FiraSansItalic.woff") format("woff"),
    url("../fonts/FiraSansItalic/FiraSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansBoldItalic";
    src: url("../fonts/FiraSansBoldItalic/FiraSansBoldItalic.eot");
    src: url("../fonts/FiraSansBoldItalic/FiraSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansBoldItalic/FiraSansBoldItalic.woff") format("woff"),
    url("../fonts/FiraSansBoldItalic/FiraSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansLight";
    src: url("../fonts/FiraSansBoldItalic/FiraSansLight.eot");
    src: url("../fonts/FiraSansBoldItalic/FiraSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansBoldItalic/FiraSansLight.woff") format("woff"),
    url("../fonts/FiraSansBoldItalic/FiraSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansLightItalic";
    src: url("../fonts/FiraSansBoldItalic/FiraSansLightItalic.eot");
    src: url("../fonts/FiraSansBoldItalic/FiraSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansBoldItalic/FiraSansLightItalic.woff") format("woff"),
    url("../fonts/FiraSansBoldItalic/FiraSansLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansMedium";
    src: url("../fonts/FiraSansBoldItalic/FiraSansMedium.eot");
    src: url("../fonts/FiraSansBoldItalic/FiraSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansBoldItalic/FiraSansMedium.woff") format("woff"),
    url("../fonts/FiraSansBoldItalic/FiraSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansMediumItalic";
    src: url("../fonts/FiraSansBoldItalic/FiraSansMediumItalic.eot");
    src: url("../fonts/FiraSansBoldItalic/FiraSansMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansBoldItalic/FiraSansMediumItalic.woff") format("woff"),
    url("../fonts/FiraSansBoldItalic/FiraSansMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/FontAwesome/FontAwesome.eot");
    src: url("../fonts/FontAwesome/FontAwesome.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FontAwesome/FontAwesome.woff") format("woff"),
    url("../fonts/FontAwesome/FontAwesome.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}